<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-warning">
  <a class="navbar-brand" href="/cocktails">
    <%= image_tag "cocktail_cropped.png", alt: "Le Wagon", width: 80, height: 50 %>
</a>

</div>
